@page "/"
@inject IRepositorio  repositorio

<div>
    <h3>Listado de Películas</h3>
    <ListadoPeliculas Peliculas="Peliculas">
    </ListadoPeliculas>

</div>

@code{

    private List<Peliculas> Peliculas;

    protected override void OnInitialized()
    {

        Peliculas = repositorio.ObtenerPeliculas();
    }

}
