@page "/movies/crear"
@inject NavigationManager navigationManager

<h3>Crear Película</h3>
<FormularioMovie Pelicula="Pelicula" OnValidSubmit="Crear"></FormularioMovie>

@code {

    private Peliculas Pelicula = new Peliculas();

    void Crear()
    {
        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("movies");

    }
}
